image:
  repository: "630019796862.dkr.ecr.us-west-2.amazonaws.com/retail-store-ui" #sorry for hard-coding :(
  tag: "latest"

service:
  port: 8080

resources:
  requests:
    memory: "512Mi"
    cpu: "250m"
  limits:
    memory: "1Gi"
    cpu: "500m"

healthCheckPath: /health
