apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "ui.fullname" . }}
  labels:
    app: {{ include "ui.name" . }}
spec:
  replicas: 1
  selector:
    matchLabels:
      app: {{ include "ui.name" . }}
  template:
    metadata:
      labels:
        app: {{ include "ui.name" . }}
    spec:
      containers:
        - name: ui
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag }}"
          ports:
            - containerPort: {{ .Values.service.port }}
          resources:
            requests:
              memory: {{ .Values.resources.requests.memory }}
              cpu: {{ .Values.resources.requests.cpu }}
            limits:
              memory: {{ .Values.resources.limits.memory }}
              cpu: {{ .Values.resources.limits.cpu }}
          livenessProbe:
            httpGet:
              path: {{ .Values.healthCheckPath }}
              port: {{ .Values.service.port }}
            initialDelaySeconds: 15
            periodSeconds: 20
          readinessProbe:
            httpGet:
              path: {{ .Values.healthCheckPath }}
              port: {{ .Values.service.port }}
            initialDelaySeconds: 5
            periodSeconds: 10
